@model HashSet<string>
@{
    ViewData["Title"] = "Index";
}

<a asp-action="DeleteFirstItem">Baştan Sil</a>

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
<input type="text" name="name"/>
<button type="sumbit">Kaydet</button>

</form>

@foreach (var item in Model)
{
    
    <h2>@item <a  asp-action="Remove" asp-route-name="@item">Sil</a></h2>
}
